<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "BookMyDoc - Healthcare Appointments Platform" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%= render "shared/mobile_nav" %>
    <%= render "shared/navbar" %>

    <main class="min-h-screen">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
